body {
  margin: 0;
}
div {
  color: white;
  text-shadow: rgba(255, 255, 255, 0.7) 0px 0px 5px;
}
#contentArea {
  background: rgb(27, 26, 27);
}

#screenArea {
  font-family: "VT323";
  font-weight: 100;
  background-color: rgb(27, 26, 27);
  height: 100vh;
  width: 100vw;
  display: flex;
  justify-content: center;
}

#mainSection {
  position: absolute;
  margin: auto;
  top: 10%;
  width: 90%;
  height: 80%;
  display: flex;
  align-items: center;
  flex-direction: column;
}

.titleText {
  /* transition: opacity .3s ease-in-out, transform .3s ease-in-out; */
  font-size: 100px;
  color: rgb(51, 255, 51);
  text-shadow: rgba(51, 255, 51, 0.7) 0px 0px 20px;
}

.bodyText {
  font-size: 30px;
}

#textRandLoad {
  display: none;
}
.linker {
  /* background-color: white; */
  position: absolute;
}

.linkText {
  color: white;
}

