html {
  width: 100%;
}

body {
  margin: 0;
}

div {
  /* color: white; */
  /* text-shadow: rgba(255, 255, 255, 0.7) 0px 0px 5px; */
  color: rgb(51, 255, 51);
  text-shadow: rgba(51, 255, 51, 0.3) 0px 0px 5px;
}

#contentArea {
  display: flex;
  justify-content: center;
  height: 100%;
  background: rgb(27, 26, 27);
}

#screen {
  width: min(1200px, 80%);
  height: max-content;
}

#screenArea {
  /* font-family: "VT323"; */
  /* font-family: "Chakra Petch"; */
  font-family: "Space Mono", monospace;
  font-weight: 800;
  background-color: rgb(27, 26, 27);
  height: max-content;
  display: flex;
  justify-content: center;
}

#mainSection {
  margin: 5vh auto auto auto;
  height: max-content;
  display: flex;
  align-items: center;
  flex-direction: column;
}

.screenEl {
  margin-inline-start: 40px;
}

.titleText {
  transition: opacity 1s ease-in-out, transform 1s ease-in-out;
  font-size: 100px;
  color: rgb(51, 255, 51);
  /* color: rgb(255, 176, 0); */
  text-shadow: rgba(51, 255, 51, 0.7) 0px 0px 20px;
  word-break: break-all;
}

#topSection {
  /* width: 90vw; */
  display: flex;
  justify-content: center;
}

.textLine {
  margin-bottom: 40px;
}

#contactInfo {
  padding-left: 50px;
}

.bodySection {
  font-size: 25px;
  font-weight: 400;
  text-shadow: rgba(51, 255, 51, 0.5) 0px 0px 20px;
}

.linker {
  /* background-color: white; */
  position: absolute;
}

.linkText {
  color: white;
}

#renderEmbed {
  overflow: hidden;
  border-width: 3px;
  width: 500px;
  height: 500px;
  display: block;
  padding: 0px;
  overflow: hidden;
  background-color: transparent;
}

#renderWrapper {
  position: relative;
  z-index: 1;
  width: fit-content;
  border-style: double;
  border-color: rgba(51, 255, 51, 1);
  border-width: 7px;
  box-shadow: 0px 0px 40px rgba(51, 255, 51, 0.2);
}

#renderWrapper::before {
  pointer-events: none;
  content: " ";
  position: absolute;
  z-index: 1;
  width: fit-content;
  background-color: transparent;
  width: 100%;
  height: 100%;
  -webkit-box-shadow: inset 0px 0px 0px 4px rgba(0,0,0,1);
  -moz-box-shadow: inset 0px 0px 0px 4px rgba(0,0,0,1);
  box-shadow: inset 0px 0px 0px 4px rgba(0,0,0,1);
}

.noscroll {
  overflow:hidden;
  padding-right: 18px !important;
}

.noselect {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  user-select: none;
}

.nodisplay{
  display: none;
}

